<form class="{{cssClass}}" autocomplete="off" id="form_persona">
    <header class="sheet-header">
        <div class='container'>
            <div class="row container_dados">
                <div class="col-md-4">
                    <img src="systems/tagmar/templates/sheets/img/logo.png" width="107" height="49" style="border-style: none; padding-top:2px;"/> 
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center; padding-top:20px;">{{actor.type}}</h1>
                </div>
            </div>
            <div class="row container_dados">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
                <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            </div>
    </header>
    <section class="sheet-primary">
        <div class="container">
            <div class="row container_dados">
                <div class="col-md-12" style="text-align: center;">
                    <nav class="prim-tabs tabs" data-group="primary">
                        <label><a class="item" data-tab="descricao" title="Descricao">Descrição</a></label>
                        <label><a class="item" data-tab="habilidades" title="Habilidades">Habilidades</a></label>
                        <label><a class="item" data-tab="itens" title="Itens">Itens</a></label>
                    </nav>
                </div>
            </div>
        </div>
        <div class="tab descricao container" data-group="primary" data-tab="descricao">
            <div class="row">
                <div class="col-md-5 container_dados">  <!--Metade Esquerda-->
                    <div class="row dados">
                        <div class="col-md-4">
                            <label><h4>Raça:</h4></label>
                        </div>
                        <div class="col-md-8">
                            <input name="data.raca" type="text" list="racas" value="{{data.raca}}" height="30">
                            <datalist id="racas">
                                <option value="Humano">
                                <option value="Pequenino">
                                <option value="Anão">
                                <option value="Elfo Dourado">
                                <option value="Elfo Florestal">
                                <option value="Meio-Elfo">
                            </datalist>
                        </div>
                    </div>
                    <div class="row dados">
                        <div class="col-md-4">
                            <label><h4>Profissão:</h4></label>
                        </div>
                        <div class="col-md-8">
                            <input name="data.profissao" type="text" list="profissoes" value="{{data.profissao}}" height="30" class="profissao">
                            <datalist id="profissoes">
                                <option value="Bardo">
                                <option value="Guerreiro">
                                <option value="Ladino">
                                <option value="Mago">
                                <option value="Rastreador">
                                <option value="Sacerdote">
                            </datalist>
                        </div>
                    </div>
                    <div class="row dados">
                        <div class="col-md-4">
                            <label><h4>Especialização:</h4></label>
                        </div>
                        <div class="col-md-8">
                            <input name="data.especializacao" type="text" list="especializacoes" value="{{data.especializacao}}" height="30" class="especializacao">
                            <datalist id="especializacoes" class="data_espec">
                                <option value = "Academia de Infantaria">
                                <option value = "Academia dos Arqueiros">
                                <option value = "Academia dos Cavaleiros">
                                <option value = "Academia dos Gladiadores">
                                <option value = "Colégio Alquimico">
                                <option value = "Colégio das llusões">
                                <option value = "Colégio do Conhecimento">
                                <option value = "Colégio Elemental">
                                <option value = "Colégio Naturalista">
                                <option value = "Colégio Necromântico">
                                <option value = "Confraria dos Arautos">
                                <option value = "Confraria dos Artistas">
                                <option value = "Confraria dos Eruditos">
                                <option value = "Guilda dos Assassinos">
                                <option value = "Guilda dos Ladrões">
                                <option value = "Guilda dos Piratas">
                                <option value = "Ordem de Blator">
                                <option value = "Ordem de Cambu">
                                <option value = "Ordem de Crezir">
                                <option value = "Ordem de Crisagom">
                                <option value = "Ordem de Cruine">
                                <option value = "Ordem de Ganis">
                                <option value = "Ordem de Lena">
                                <option value = "Ordem de Maira mon">
                                <option value = "Ordem de Maira nil">
                                <option value = "Ordem de Maira vet">
                                <option value = "Ordem de Palier">
                                <option value = "Ordem de Parom">
                                <option value = "Ordem de Plandis">
                                <option value = "Ordem de Selimon">
                                <option value = "Ordem de Sevides">
                                <option value = "Trilha dos Caçadores">
                                <option value = "Trilha dos Exploradores">
                                <option value = "Trilha dos Guardiões">
                            </datalist>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab habilidades container" data-group="primary" data-tab="habilidades">
            habilidades
        </div>
        <div class="tab itens container" data-group="primary" data-tab="itens">
            <section class="sheet-itens">
                <div class="row">
                    <div class="col-md-7 cont-dir">
                        <div class="container dados-dir">
                            <div class="row">
                                <div class="col-md-12" style="text-align: center;">
                                    {{!-- Sheet Tab Navigation --}}
                                    <nav class="sheet-tabs tabs" data-group="secondary">
                                        <label><a class="item" data-tab="magias" title="Magias">Magias</a></label>
                                        <label><a class="item" data-tab="armas" title="Armas">Armas</a></label>
                                    </nav>
                                </div>
                            </div>
                            <div class="row">
                                {{!-- Magias Tab --}}
                                <div class="tab magias col-md-12" data-group="secondary" data-tab="magias">
                                    <ol class="items-list">
                                        {{#each actor.magias as |magia|}}
                                        <li class="item flexrow item-header" data-item-id="{{magia._id}}">
                                            <div class="item-image">
                                                <img class="itemImg" src="{{magia.img}}"/>
                                            </div>
                                            <div class="item-name" style="text-align: center;"><h4 class="item-name">{{magia.name}}</h4></div>
                                            <div class="item-controls">
                                                <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
                                                <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ol>
                                </div>
                                {{!-- Armas Tab --}}
                                <div class="tab armas col-md-12" data-group="secondary" data-tab="armas">
                                    <ol class="items-list">
                                        {{#each actor.armas as |arma|}}
                                        <li class="item flexrow item-header" data-item-id="{{arma._id}}">
                                            <div class="item-image">
                                                <img class="itemImg" src="{{arma.img}}"/>
                                            </div>
                                            <div class="item-name" style="text-align: center;"><h4 class="item-name">{{arma.name}}</h4></div>
                                            <div class="item-controls">
                                                <a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>
                                                <a class="item-control item-delete" title="Deletar"><i class="fas fa-trash"></i></a>
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ol>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </section>
        </div>
    </section>   
</form>

